USE [master]
GO
/****** Object:  Database [quanlidiem]    Script Date: 1/7/2020 9:36:49 AM ******/
CREATE DATABASE [quanlidiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlidiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\quanlidiem.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlidiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\quanlidiem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlidiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlidiem]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 1/7/2020 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[MaDiem] [int] NOT NULL,
	[Tongdiem] [nvarchar](50) NULL,
	[HocKi] [nvarchar](50) NULL,
 CONSTRAINT [PK_BangDiem] PRIMARY KEY CLUSTERED 
(
	[MaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 1/7/2020 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[MaGV] [int] NOT NULL,
	[TenGV] [nvarchar](50) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HockiNienKhoa]    Script Date: 1/7/2020 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HockiNienKhoa](
	[MaHocKiNienKhoa] [int] NOT NULL,
	[HocKi] [nvarchar](50) NULL,
	[NienKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_HockiNienKhoa] PRIMARY KEY CLUSTERED 
(
	[MaHocKiNienKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 1/7/2020 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [int] NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lop]    Script Date: 1/7/2020 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [int] NOT NULL,
	[TenLop] [nvarchar](50) NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 1/7/2020 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [int] NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
	[Tinchi] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 1/7/2020 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[MaNganh] [int] NOT NULL,
	[TenNganh] [nvarchar](50) NULL,
 CONSTRAINT [PK_Nganh] PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 1/7/2020 9:36:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [int] NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[GT] [nvarchar](50) NULL,
	[NgaySinh] [nvarchar](50) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[BangDiem] ([MaDiem], [Tongdiem], [HocKi]) VALUES (0, N'', N'')
INSERT [dbo].[BangDiem] ([MaDiem], [Tongdiem], [HocKi]) VALUES (1, N'8', N'1')
INSERT [dbo].[BangDiem] ([MaDiem], [Tongdiem], [HocKi]) VALUES (2, N'5', N'2')
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV]) VALUES (1, N'tr?n th? thu? duong')
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV]) VALUES (2, N'Lê Văn Lượng')
INSERT [dbo].[GiaoVien] ([MaGV], [TenGV]) VALUES (3, N'Trần Thành Tiến')
INSERT [dbo].[HockiNienKhoa] ([MaHocKiNienKhoa], [HocKi], [NienKhoa]) VALUES (1, N'1', N'2018-2019')
INSERT [dbo].[HockiNienKhoa] ([MaHocKiNienKhoa], [HocKi], [NienKhoa]) VALUES (2, N'1', N'2018-2019')
INSERT [dbo].[HockiNienKhoa] ([MaHocKiNienKhoa], [HocKi], [NienKhoa]) VALUES (3, N'2', N'2018-2019')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (1, N'Dược Điều Dưỡng')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (2, N'Kỹ Thuật Công Nghệ')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (3, N'Kinh Tế Tài Chính Ngân Hàng')
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (1, N'CNTT12')
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (2, N'Luật 12A')
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES (3, N'Luật 12B')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [Tinchi]) VALUES (1, N'Đại Số Tuyến Tính', N'3')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [Tinchi]) VALUES (2, N'Xác Suất Thống Kê', N'3')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [Tinchi]) VALUES (3, N'Lập Trình Di Động ', N'3')
INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (1, N'Công Nghệ Thông Tin')
INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (2, N'Dược')
INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (3, N'Luật')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [GT], [NgaySinh]) VALUES (11, N'Trần Thành Tiến', N'Nam', N'05/08/1999')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [GT], [NgaySinh]) VALUES (12, N'Lê Văn Lượng', N'Nữ', N'05/09/1998')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [GT], [NgaySinh]) VALUES (13, N'Trần Thị Thuỳ Dương', N'Nữ', N'12/1/1999')
USE [master]
GO
